@theme inline {
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
  --vis-tooltip-padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
  --vis-tooltip-box-shadow: var(--shadow-xl);
  --vis-tooltip-background-color: var(--color-background);
  --vis-tooltip-border-color: var(--color-border);
  --vis-tooltip-border-radius: var(--radius-lg);
  --vis-tooltip-text-color: var(--color-foreground);
  --vis-font-family: var(--font-sans);
  --vis-legend-label-color: var(--vis-tooltip-text-color);
}

[data-kb-theme="dark"] {
  --chart-1: var(--color-blue-300);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-blue-600);
  --chart-4: var(--color-blue-700);
  --chart-5: var(--color-blue-800);
}
